{% extends 'home/base.html' %}

{% block content %}
    <h1>All Attendance Records</h1>

    <table>
        <thead>
            <tr>
                <th>Student</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in attendance_records %}
            <tr>
                <td>{{ record.student.user.first_name }}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
